 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    color: #3a3a3a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif ;
}

header {
    border: inset 3px rgba(49, 47, 47, 0.575);
    color: antiquewhite;
    background-color: rgb(92, 73, 49);
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

header a {
    text-decoration: none;
    color:black
}
h1 {
    color: rgb(208, 200, 191); 
}

main {
    background-color: bisque;
    flex: 1 0 auto;
    margin-top: 47px;
    
}

#background-image {
    height: 700px;
    width: 100%;
    background: url("../images/Terracotta-army.avif") no-repeat center center/cover;
    
}
#tickets {
    margin-top: 47px;
    height: 100px;
}

#warrior {
    margin: 30px auto;
    width: 80%;
    text-align: center;
}

#warrior h2 {
    margin-bottom: 10px;
}

hr {
    border: 3px double burlywood;
}

#text {
    margin: 10px;
}

p{
    padding: 0 10px;
    margin: 10px;
}

#score {
    padding: 20px 15% 0 15%;
    flex-grow: 1;
    margin-top: 40px ;
    
    
}
#score-tickets {
    margin: 30px 0;
}
.tickets {
    color: black;
}

#more {
    margin-top: 20px;
}
#figure {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    background: url("../images/Terracotta.jpg") no-repeat center center/cover;
}

#visit {
    text-align: center;
    margin-bottom: 15px;
}

#pics img {
    width: 100%;
    line-height: 1em;
}
#pics {
    line-height: 0%;
}
#margin {
    margin-top: 50px ;
    margin-bottom: 10px;
}
    
#menu {
    font-size: large;
    list-style-type: none; 
}

#menu > li {
    margin-bottom: 1em;
    
}

nav {
    position: absolute;
    background-color: rgb(92, 73, 49);
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#contact {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
#contact i {
    font-size: 100%;
    color:antiquewhite
}

footer {
    border: inset 3px rgba(49, 47, 47, 0.575);
    width: 100%;
    background-color: rgb(92, 73, 49);
    
}

@media screen and (min-width: 576px) {
   #pics {
        column-count: 2;
        column-gap: 0;
   }     
}

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    main {
        margin-top: 79px;
    }
    #pics {
        column-count: 3;
    }
    #score {
        padding: 20px 30%;
    }
    

}
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 3px solid #050404;
        
    }
    header {
        width: 100%;
        
    }
    #figure {
        height: 400px;
        width: 100%;
        background: url("../images/Terracotta.jpg") no-repeat center center/cover;
    }

    #visit {
        margin: 30px 0;
    }
    #more {
        margin-top: 40px;
    }
    #figure {
        margin-top: 40px;
    }
    #pics {
        column-count: 3;
    }
    #score {
        padding: 20px 40% ;
    }
}